#blogs__container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.blogs__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.blogs__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.blog__item {
    border: 1px solid #42579d;
    padding: 1rem;
    border-radius: 8px;
    background-color: #42579d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 2rem); /* 4 cards per row with gap */
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures space is distributed between items */
    overflow: hidden;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.blog__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog__item h2 {
    font-size: 1.5rem; /* Adjusted to fit better */
    margin: 0.5rem 0;
}

.blog__item p {
    margin: 0.5rem 0;
    font-size: 1rem; /* Adjusted to fit better */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #42579d;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 80%;
    width: 600px;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Ensures the modal is above other elements */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000; 
}

.modal__content {
    margin: 1rem 0;
}

.modal__close-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #90EE90;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
