
.nav__container {
    margin: 0 auto;
    height: 10vh;
    width: 60%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; 
}

.nav__left {
    flex: 1;
    text-align:left
}

.nav__heading {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

.nav__heading a, .nav__list a {
    text-decoration: none;
    color: inherit;
}

.nav__lists {
    display: flex;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav__list {
    margin-right: 5px;
}
